<template>
  <div class="row px-xl-4 mt-3">
      <datosTabla />
    
    <div class="rest col-12 order-3">
      <div class="rest mx-auto">
        <!-- TABLA -->
        <!-- <p>Cobertura Amplia</p> -->
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Cobertura</th>
              <th scope="col" name="bor">Suma asegurada</th>
              <th scope="col">Deducible</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(item, index) in this.$store.state.cotizacion.coberturas" :key="index"
            >
              <td>{{ item | showName }}</td>
              <td name="bor">{{ item | showSuma }}</td>
              <td>{{ item | showDeducible }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import datosTabla from "~/components/utilities/datosTabla.vue";

export default {
  data: function() {
    return { show: false };
  },
  components:{
    datosTabla
  },
  filters: {
        showName: function(value) {
          return value.nombre;
        },
        showSuma: function(value) {
          var sumaAseg = value.sumaAsegurada;
          var regExp = /[123456789]/;
          var result = regExp.exec(sumaAseg);
          if (sumaAseg == 0 || sumaAseg == "") {
            sumaAseg = "NO APLICA";
          } else if (sumaAseg == 1) {
            sumaAseg = "AMPARADA";
          } else if (result != null) {
            //tiene numeros 1-9
            var regExp2 = /[a-zA-Z]/g;
            var result2 = regExp2.exec(sumaAseg);
            if (sumaAseg.includes("$") == false) {
              if (result2 != null) {
                //V. COMERCIAL50000
                sumaAseg =
                  sumaAseg.substring(0, result.index) +
                  " $ " +
                  sumaAseg.substring(result.index, sumaAseg.length);
              } else {
                sumaAseg = "$ " + sumaAseg;
              }
            }
            if (sumaAseg.includes(".0") == true) {
              if (sumaAseg.includes(".00") == false) {
                sumaAseg = sumaAseg + "0";
              }
            } else {
              sumaAseg = sumaAseg + ".00";
            }
            //Comas
            var result3 = regExp.exec(sumaAseg);
            var inicio = result3.index;
            var regExp3 = /\.00/;
            var result4 = regExp3.exec(sumaAseg);
            var fin = result4.index;
            var n = (fin - inicio) / 3;
            if (n > 1 && n <= 2) {
              //1,000->100,000
              var z = sumaAseg.substring(fin - 3, fin);
              var y = sumaAseg.substring(inicio, fin - 3);
              var x = sumaAseg.substring(0, inicio);
              var zz = sumaAseg.substring(fin, sumaAseg.length);
              sumaAseg = x + y + "," + z + zz;
            } else if (n > 2 && n <= 3) {
              //1,000,000->100,000,000
              var z = sumaAseg.substring(fin - 3, fin);
              var z2 = sumaAseg.substring(fin - 6, fin - 3);
              var y2 = sumaAseg.substring(inicio, fin - 6);
              var x = sumaAseg.substring(0, inicio);
              var zz = sumaAseg.substring(fin, sumaAseg.length);
              var sumaAseg = x + y2 + "," + z2 + "," + z + zz;
            }
          }
          return sumaAseg;
        },
        showDeducible: function(value) {
          var deducible = value.deducible;
          var regExp = /[123456789]/;
          var result = regExp.exec(deducible);
          if (deducible == 0 || deducible == "" || deducible == "0%") {
            deducible = "NO APLICA";
          } else if (deducible.includes("$") == true) {
            if (deducible.includes(".0") == true) {
              if (deducible.includes(".00") == false) {
                deducible = deducible + "0";
              }
            } else {
              deducible = deducible + ".00";
            }
          } else if (result != null) {
            //tiene numeros 1-9
            if (deducible.includes("%") == false) {
              deducible = deducible + " %";
            }
          }
          return deducible;
        },
      },

};
</script>
