<template>
  <div v-show="!this.showBottonAutoBack == 1">
    <a id="btnTop" class="botonCall" :href="'tel:55'+$store.state.config.telefonoAS">
    <img src="/img/nuevas/telefonobottom.svg" width="150" height="70" class="img-fluid" alt="">
    </a>
    <a id="btnTop" class="botonTop" href="#formcotizar">
      <img src="/img/nuevas/flechaa.svg" alt="arriba" class="flecha2 mb-2" >
    </a>
  </div>
</template>
<script>
export default {
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function() {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>
<style>
  .botonCall{
    position: fixed;
    bottom: 2rem;
    right: 5rem;
    text-decoration: none;
    padding: 5px;
    border-radius: 35px;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .botonTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    text-decoration: none;
    padding: 5px;
    border-radius: 35px;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .botonCall span {
    color: #ffffff;
    font-size: 16px;
  }
  .flecha2{width: 30px }
</style>