<template>
  <div class="container-fluid bg-colorq" >
    <div class="row">
      <div class="col-6 col-md-7 my-auto px-md-5">
        <h1>Seguro de Auto Quálitas</h1>
      </div>
      <div class="col-6 col-md-5 my-1 d-flex justify-content-end">
        <a id="idTelDID" :href="'tel:55'+this.$store.state.config.telefonoAS" class="btn" v-if="this.$store.state.config.telefonoAS!=''">
          <p class="mb-0 text-end llama">LLAMA GRATIS</p>
          <svg class="icon telhead my-auto" width="15" height="15" alt="tel">
            <use xlink:href="#telefonoq"></use>
          </svg>
          <small class="llama2">(55) {{this.$store.state.config.telefonoAS}}</small>
        </a>
      </div>
    </div>
    <svg width="0" height="0" class="hidden d-none">
      <symbol version="1.1" id="telefonoq" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve" viewBox="0 0 40 40">
        <g>
          <path style="fill:#78048C;" d="M39.9149,30.9949c-0.1132-0.341-0.8331-0.8432-2.1593-1.5056
        c-0.3593-0.2088-0.8712-0.4925-1.5336-0.8525c-0.663-0.36-1.2648-0.6917-1.8043-0.9948c-0.5406-0.303-1.047-0.5966-1.5202-0.8803
        c-0.0756-0.0568-0.3124-0.2223-0.7102-0.4976c-0.3982-0.2745-0.7339-0.4782-1.0091-0.611
        c-0.2746-0.1321-0.5447-0.1985-0.8099-0.1985c-0.3788,0-0.8519,0.2701-1.4199,0.8096c-0.5681,0.5402-1.0891,1.1269-1.5624,1.7621
        c-0.4734,0.6348-0.9755,1.2216-1.5053,1.7615c-0.5306,0.5401-0.9666,0.8099-1.3072,0.8099c-0.171,0-0.3841-0.0477-0.6396-0.1417
        c-0.2554-0.0946-0.4496-0.1757-0.583-0.2411c-0.1322-0.0668-0.359-0.1989-0.6812-0.3985
        c-0.3228-0.1989-0.5024-0.3079-0.5402-0.3269c-2.5949-1.4399-4.8205-3.088-6.677-4.9437
        c-1.8559-1.8568-3.5041-4.0822-4.9437-6.6774c-0.0189-0.0379-0.1281-0.2179-0.3268-0.5398
        c-0.199-0.3221-0.3317-0.5491-0.398-0.6821c-0.0663-0.1325-0.1468-0.3267-0.2413-0.5824c-0.0945-0.2557-0.142-0.4686-0.142-0.6393
        c0-0.3408,0.27-0.7766,0.8099-1.3071c0.5398-0.5301,1.1271-1.0323,1.7615-1.5055c0.6348-0.4732,1.2216-0.9943,1.7616-1.5623
        c0.5398-0.5684,0.8097-1.0417,0.8097-1.4204c0-0.265-0.0663-0.5352-0.1987-0.8098c-0.1326-0.2752-0.3362-0.6109-0.6109-1.0089
        C13.4588,7.4127,13.2931,7.1762,13.2362,7.1c-0.2838-0.4732-0.5771-0.9799-0.8805-1.5197
        c-0.3034-0.5398-0.6346-1.1415-0.9947-1.8044c-0.3598-0.6626-0.6437-1.1742-0.8523-1.5341
        C9.8461,0.9162,9.3442,0.196,9.0031,0.0828C8.8705,0.026,8.6714-0.0027,8.4065-0.0027c-0.5117,0-1.1793,0.0945-2.0032,0.2842
        c-0.8242,0.1894-1.4728,0.388-1.9464,0.5967c-0.9471,0.3976-1.951,1.553-3.0118,3.4658c-0.966,1.7802-1.449,3.5422-1.449,5.2846
        c0,0.511,0.0331,1.0082,0.0994,1.4917c0.0663,0.483,0.1847,1.0276,0.3554,1.6339c0.1704,0.6061,0.3078,1.0563,0.4117,1.3495
        c0.104,0.2934,0.2982,0.8189,0.5824,1.5769c0.2838,0.7577,0.4545,1.2216,0.5113,1.3921c0.6629,1.8564,1.449,3.5137,2.3581,4.9723
        c1.4958,2.4245,3.537,4.93,6.1225,7.5157c2.5856,2.5855,5.0907,4.6266,7.5153,6.123c1.4584,0.909,3.1163,1.695,4.9724,2.3584
        c0.1706,0.0565,0.6344,0.2268,1.3919,0.5116c0.7577,0.284,1.2835,0.4782,1.5769,0.5824c0.2935,0.1043,0.7438,0.2418,1.3494,0.4125
        c0.6069,0.1707,1.151,0.2891,1.634,0.3559c0.4833,0.0654,0.9806,0.0991,1.4917,0.0991c1.7424,0,3.5044-0.4833,5.2849-1.4492
        c1.9126-1.0605,3.0678-2.0645,3.4655-3.0123c0.2092-0.4731,0.4073-1.1219,0.5967-1.9461C39.9056,32.7723,40,32.1048,40,31.5932
        C40.0006,31.3271,39.972,31.1286,39.9149,30.9949z"></path>
        </g>
      </symbol>
    </svg>
  </div>
</template>


