<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="row"> -->
        <div class="col-12 col-md-5 bg-auto d-none d-md-block"  style="    background-position: bottom;">
        <br>
        <br>
        <br>
          <!-- <img width="400" height="200" class="img-fluid d-none mt-1 d-md-block" src="/img/nuevas/carroq.webp" alt="AUTO"> -->
        </div>
        <div class="col-12 col-md-7 my-auto px-md-5">
          <h2 class="fw-bold h1g mt-md-5  " id="idGracias">Hola {{$store.state.formData.nombre}},</h2>
          <p class="fw-bold encont my-md-4">Encontramos el mejor precio del seguro para tu auto: </p>
          <div class="col-md-11 col-12 mx-auto mt-3 mb-md-5">
            <p class="datcar">{{ $store.state.formData.marca }} {{ $store.state.formData.modelo }} {{ $store.state.formData.descripcion }} {{ $store.state.formData.detalle}}</p>
            <h2 class="titleID mt-0" style="  margin-bottom: 28%;">
              TU ID COTIZACIÓN ES:
              {{ this.$store.state.config.idCotizacionNewCore }}
            </h2>
            <div class="encont">
              <p class="text-gray col-12 m-auto text-center align-self-center msj p-thank-you"  v-if="$store.state.ejecutivo.nombre==='' &&$store.state.msjEje&& !$store.state.formData.precio>0" >Un asesor experto se comunicará contigo a la brevedad para asesorarte de forma gratuita.</p>
                <p class="text-gray" v-else-if="$store.state.cargandocotizacion && !$store.state.formData.precio>0" > <b>{{$store.state.ejecutivo.nombre}}</b> ({{$store.state.ejecutivo.correo}}) se pondrá en contacto contigo o llama al:  <a class="axa num-a" :href="'tel:55'+$store.state.config.telefonoAS">55{{$store.state.config.telefonoAS}}</a> </p>
       
            </div>
          </div>
        </div>
        <div
          class="col-12 mt-md-5"
          v-if="
            !$store.state.cargandocotizacion &&
            !$store.state.msjEje &&
            !$store.state.msj
          "
        >
          <loader />
        </div>
      <!-- </div> -->
        <div class="col-12 px-xl-5 px-3" v-if="$store.state.cargandocotizacion">
          <tabla />
        </div>
      </div>
    </div>
    <logica-component/>
  </div>
</template>

<script>
import tabla from "~/components/utilities/tabla.vue";
import loader from "~/components/utilities/loading.vue";
import logicaComponent from "~/components/common/logica.vue"

export default {
  layout: "thanks",

  components: {
    tabla,
    loader,
    logicaComponent

  },
  head() {
    return {
      title: "Quálitas Seguros - ▷ Quálitas 🥇 - Cotiza Seguro de Auto Quálitas",
      link:[
      {
          hid: "canonical",
          rel: "canonical",
          href: "https://qualitassegurosautos.com/"
        }
      ],
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Quálitas, Quálitas Seguros, Seguros Quálitas, Seguros de autos Quálitas, Quálitas Seguros Autos, Quálitas Seguros México, Seguros Quálitas Autos, Cotiza Seguros de Autos Quálitas"
        },
        {
          hid: "description",
          name: "description",
          content:
            "Quálitas la aseguradora No.1 en proteger autos, ⇨ descubre las mejores coberturas de los seguros de autos Quálitas ¡Fácilmente!"
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "qualitassegurosautos.com"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
       
      ]
    };
  }
};
</script>