<template>
  <div id="botonTop">
    <!-- <A /> -->
    <Header />
    <div :class="$store.state.config.dominio + ' -- VERSION 3 UPDATED shotokanleo'"></div>
    <Modal />
    <Btn />
    <nuxt />
    <hotsaleAlert />
    <!-- <cookies/> -->
    <Footer />
  </div>
</template>
<script>
// import A from "~/components/alerta/alerta.vue";
import Header from "~/components/common/Header.vue";
import Modal from "~/components/utilities/modal.vue";
import Btn from "~/components/common/btnTopv1.vue";
import Footer from "~/components/common/Footer.vue";
import hotsaleAlert from "../components/alerta/hotsaleAlert.vue";
// import cookies from "~/components/common/cookies.vue";

export default {
  components: {
    // A,
    Header,
    Modal,
    Btn,
    Footer,
    hotsaleAlert,
    // cookies
  },
  created: function () {
    this.$store.state.config.alert = true; //CAMBIA DE ALERTA DEFAULT A PROMO
  },
  methods: {
    ini: function () {
      document.documentElement.classList.remove("no-js");
    }

  }
};
</script>
