<template>
  <div>
    <!-- TEXT PRINCIPAL & Form -->
    <div class="container-fluid bg-colorq  ">
      <div class="row">
        <div class="col-12 col-md-6 bg-auto " style="border-top-right-radius: 15px;border-bottom-right-radius: 200px;">
          <cardpromo />
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-11 bg-white fi-form px-md-3 mx-auto">
              <formulario :config="this.$store.state.config" />
            </div>
          </div>
        
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row bg-colorq">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 offset-lg-2 offset-md-2 my-md-5 my-2">
          <div class="row">
            <div class="col-4">
              <div class="row">
                <div
                  class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center"
                >
                  <img
                    src="/img/nuevas/descuento.svg"
                    width="50"
                    height="50"
                    class="img-fluid icon-beneficios mt-lg-1"
                  />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-6 text-center">
                  <p class="m-0 p-0 text-beneficios">Mejor precio</p>
                  <p class="m-0 p-0 text-beneficios">garantizado</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div
                  class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center"
                >
                  <img
                    src="/img/nuevas/clock.svg"
                    width="50"
                    height="50"
                    class="img-fluid icon-beneficios mt-lg-1"
                  />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-7 text-center">
                  <p class="m-0 p-0 text-beneficios">
                    Obtén tu póliza
                  </p>
                  <p class="m-0 p-0 text-beneficios">hoy mismo</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div
                  class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center"
                >
                  <img
                    src="/img/nuevas/credit-card.svg"
                    width="50"
                    height="50"
                    class="img-fluid icon-beneficios mt-lg-1"
                  />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-6 text-center">
                  <p class="m-0 p-0 text-beneficios">Obtén Grandes descuentos</p>
                  <p class="m-0 p-0 text-beneficios">+ Promociones</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import formulario from "~/components/forms/formN.vue";
import cardpromo from "~/components/alerta/alerta.vue";
export default {
  layout: "index",
  components: {
    formulario,
    cardpromo
  },
  beforeCreate() {
    //POR ASEGURADORA
    this.$store.state.config.aseguradora = "QUALITAS";
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.interaccion = true;
    this.$store.state.config.grupoCallback = "VN QUALITAS";
    this.$store.state.config.textoSMS = "Felicidades: Ya tenemos tu cotización en breve un ejecutivo te contactará.";
    this.$store.state.config.dominioCorreo = "AUTOS|QUALITAS|qualitassegurosautos-com";
    this.$store.state.config.idPagina = 14;
    this.$store.state.config.idCampana = 1;
    this.$store.state.config.idSubRamo = 35;
      this.$store.state.config.idMedioDifusion = 4799;
      this.$store.state.config.idMedioDifusionInteraccion = 4800;
      this.$store.state.config.idMedioDifusionEcommerce = 4801;
      this.$store.state.config.urlRedireccion = '/smart/thank-you/';
    this.$store.state.config.titulo = "Quálitas Seguros de Autos"; // INDEX
    // En layout Index

    this.$store.state.config.k1 = "Quálitas Seguros";
    this.$store.state.config.k2 = "Seguros Quálitas";
    this.$store.state.config.k3 = "Seguros de autos Quálitas";
    this.$store.state.config.k4 = "Quálitas Seguros Autos";
    this.$store.state.config.k5 = "Quálitas Seguros México";
    this.$store.state.config.k6 = "Seguros Quálitas Autos";
    this.$store.state.config.k7 = "Cotiza Seguros de Autos Quálitas";
    this.$store.state.config.clase2 = "col-6 col-md-6 col-lg-5 offset-lg-1";
    this.$store.state.config.clase3 = "col-6 col-md-6 col-lg-5 offset-lg-1 my-auto";
    this.$store.state.config.formg=1;
    this.$store.state.config.clase1=""
    this.$store.state.config.colorPromo=""    
        // SEO METAS Y KEYWORDS
      this.$store.state.config.canonicalSeo='https://qualitassegurosautos.com/smart/';
      this.$store.state.config.titleSeo= "Quálitas Seguros - ▷ Quálitas 🥇 - Cotiza Seguro de Auto Quálitas";
      this.$store.state.config.keywordSeo= ' Quálitas, Quálitas Seguros, Seguros Quálitas, Seguros de autos Quálitas, Quálitas Seguros Autos, Quálitas Seguros México, Seguros Quálitas Autos, Cotiza Seguros de Autos Quálitas ';
      this.$store.state.config.descriptionSeo= 'Quálitas la aseguradora No.1 en proteger autos, ⇨ descubre las mejores coberturas de los seguros de autos Quálitas ¡Fácilmente! ';

  },
  head() {
    return {
      title: this.$store.state.config.titleSeo,
      link:[
      {hid: 'description', name: 'description', content: this.$store.state.config.descriptionSeo},
      ],
        meta: [
          {hid: 'keywords', name: 'keywords', content:this.$store.state.config.keywordSeo},
          {hid: 'description', name: 'description', content: this.$store.state.config.descriptionSeo},
          {hid: 'author', name: 'author', content: 'linkedin | Abigail-Flores'},
          {hid: 'robots', name:'robots', content:'noindex,nofollow'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          //SEO
          {hid: 'fb:app_id', name:'fb:app_id', property:'fb:app_id', content: '' },
          {hid: 'og:url', name: 'og:url', property:'og:url', content: this.$store.state.config.canonicalSeo},
          {hid: 'og:type', name: 'og:type', property:'og:type', content: 'website' },
          {hid: 'og:title', name: 'og:title', property:'og:title', content: this.$store.state.config.titleSeo },
          {hid: 'og:keywords', name: 'og:keywords', property:'og:keywords', content: this.$store.state.config.keywordSeo },
          {hid: 'og:description', name: 'og:description', property:'og:description', content: this.$store.state.config.descriptionSeo },
          {hid: 'og:image', name: 'og:image', property:'og:image', content: './img/banner.jpg' },
          {hid: 'og:alt', name: 'og:alt', property:'og:alt', content: this.$store.state.config.titleSeo },
        ],
        
    };
  }
};
</script>