<template>
  <div>
    <!-- TEXT PRINCIPAL & Form -->
    <div class="container-fluid bg-colorq">
      <div class="row">
        <div
          class="col-12 col-md-6 bg-auto"
          style="
            border-top-right-radius: 15px;
            border-bottom-right-radius: 200px;
          "
        >
          <cardpromo />
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-11 bg-white fi-form px-md-3 mx-auto">
              <formulario :config="this.$store.state.config" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row bg-colorq">
        <div
          class="col-12 col-sm-12 col-md-8 col-lg-8 offset-lg-2 offset-md-2 my-md-5 my-2"
        >
          <div class="row">
            <div class="col-4">
              <div class="row">
                <div
                  class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center"
                >
                  <img
                    src="/img/nuevas/descuento.svg"
                    width="50"
                    height="50"
                    class="img-fluid icon-beneficios mt-lg-1"
                  />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-6 text-center">
                  <p class="m-0 p-0 text-beneficios">Mejor precio</p>
                  <p class="m-0 p-0 text-beneficios">garantizado</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div
                  class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center"
                >
                  <img
                    src="/img/nuevas/clock.svg"
                    width="50"
                    height="50"
                    class="img-fluid icon-beneficios mt-lg-1"
                  />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-7 text-center">
                  <p class="m-0 p-0 text-beneficios">Obtén tu póliza</p>
                  <p class="m-0 p-0 text-beneficios">hoy mismo</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div
                  class="col-11 col-sm-11 col-md-11 col-lg-3 my-auto text-center"
                >
                  <img
                    src="/img/nuevas/credit-card.svg"
                    width="50"
                    height="50"
                    class="img-fluid icon-beneficios mt-lg-1"
                  />
                </div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-6 text-center">
                  <p class="m-0 p-0 text-beneficios">
                    Obtén Grandes descuentos
                  </p>
                  <p class="m-0 p-0 text-beneficios">+ Promociones</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contenido -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 ps-md-5 mt-md-5">
          <h2>¡Cotiza tu Seguro de Auto Quálitas!</h2>

          <p>
            Asegura tu auto con una de las mejores compañías en México:
            ¡Quálitas Seguros!. Quálitas cuenta con una trayectoria de más de 29
            años en el mercado, gracias a su experiencia en el ramo automotriz
            es considerada como líder dentro de la industria de seguros.
          </p>
          <p>
            Al adquirir tu seguro para auto con Quálitas Seguros podrás tener la
            tranquilidad de que todos tus viajes estarán respaldados ante los
            siniestros más comunes al momento de manejar, cuidando no solamente
            de tu vehículo sino también de tu integridad y la de tu familia.
          </p>
          <p class="mb-0">
            ¡Conoce los beneficios exclusivos que te ofrecen las coberturas de
            Quálitas! Obtén la mejor asistencia vial y cotiza tu seguro para
            contratar protección para tu auto.
          </p>

          <h2>¿Cuáles son las Coberturas de los Seguros de Autos Quálitas?</h2>

          <p>
            ¡Conoce las diferentes coberturas que el Seguro Quálitas ha diseñado
            para tu seguridad!
          </p>
          <p>
            Cada una de las coberturas diseñadas por Quálitas México tiene como
            objetivo respaldar económicamente los gastos que genere un accidente
            de tránsito así como ofrecer un servicio de asistencia
            personalizado.
          </p>
          <p>
            Gracias a la diversificación de planes de protección que ofrece esta
            aseguradora podrás elegir la que mejor se adapte a tus necesidades y
            presupuesto. ¡Encuentra la mejor opción!
          </p>
        </div>
        <div class="col-md-5 px-0 my-auto">
          <img
            src="/img/nuevas/01.webp"
            width="563"
            height="435"
            class="img-fluid w-100 mb-3"
            alt="img-1"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Coberturas</th>
                  <th scope="col">Paquete Amplio</th>
                  <th scope="col">Paquete plus</th>
                  <th scope="col">Paquete Limitado</th>
                  <th scope="col">Paquete Basico</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Daños materiales</th>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Bis. Solamente Perdida tota</th>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Robo total</th>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Bis. Robo parcial</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <th scope="row">
                    Responsabilidad civil por daños a terceros
                  </th>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Responsabilidad civil complementaria para personas
                  </th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <th scope="row">Responsabilidad cruzada</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <th scope="row">
                    Responsabilidad civil por daños a ocupantes
                  </th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <th scope="row">Arrastre de remolque</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <th scope="row">Gastos legales</th>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Gastos médicos ocupantes</th>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Asistencia vial Quálitas</th>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Extensión de cobertura</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <th scope="row">Equipo especial</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Adaptaciones y conversiones</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Gastos de transporte por pérdida total del vehículo
                    asegurado
                  </th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Bis. Gastos de transporte por pérdida total del vehículo
                    asegurado
                  </th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Exención de deducible</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Reducción de deducible en caso de robo total y servicios de
                    asistencia satelital
                  </th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Muerte del conductor por accidente automovilístico
                  </th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <th scope="row">
                    Cancelación del deducible por daños materiales por colisión
                    y vuelco
                  </th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Responsabilidad civil en Estados Unidos de América
                  </th>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/check-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Daños Materiales a Neumáticos y rines</th>
                  <td>Opcional</td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">Auto sustituto</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                  <td>
                    <img
                      src="/img/nuevas/x-tabla.svg"
                      width="17"
                      height="17"
                      alt="check"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>¡Obtén los mejores Beneficios del Seguro Quálitas!</h2>
          <p>
            Quálitas se ha consolidado en el mercado mexicano como la
            aseguradora número uno en el sector conforme a los diferentes
            beneficios que sus coberturas ofrecen a sus usuarios. Contrata el
            mejor seguro de auto y obtén acceso a:
          </p>
        </div>
        <div class="col-md-6 my-5 ps-0">
          <img src="/img/nuevas/02.webp" class="w-100" alt="contenido2" />
        </div>
        <div class="col-md-6 my-auto">
          <ul>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Asistencia ante siniestros las 24 horas del día los 365 días del
              año
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Asistencia vial en caso de un accidente automovilístico o por
              avería
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Derecho a 5 servicios de grúa durante el año de vigencia del
              seguro
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Cobertura de Gastos Médicos para los ocupantes del vehículo hasta
              por 200 mil pesos por persona
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Asistencia jurídica por parte de abogados en caso de verte
              involucrado en un proceso penal a consecuencia de un accidente de
              tránsito, incluyendo gastos del proceso, multas o fianzas.
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Contrata tu seguro de auto Quálitas a través de precios y
              promociones exclusivas
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Hasta 4 tipos de coberturas seguros de auto disponibles para
              elegir la que mejor se adapte a tu presupuesto
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Asegura autos, motos, pick ups, camiones, vehículo de uso de
              transporte público, etc.
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Personaliza tu seguro con coberturas adicionales
            </li>
          </ul>
        </div>

        <div class="col-md-11 mx-auto">
          <ul>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Realiza trámites y/o reportes de manera digital con tu computadora
              o teléfono a través su plataforma web o su app
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Auto sustituto en caso de pérdida total, parcial o robo de tu
              vehículo
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Red exclusiva de ajustadores de seguros registrados ante la
              Comisión Nacional de Seguros y Fianzas (CNSF) para atender
              cualquier siniestro reportado y dar resolución de manera favorable
              al conductor.
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Servicios de atención inmediata en caso de un siniestro como
              ambulancias, hospitales, grúas, abogados, etc.
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />Cobertura de Responsabilidad Civil hasta por 5 millones de pesos
              en México y 200 mil dólares en E.U
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>¿Cómo me Protege el Seguro Quálitas ante un Siniestro?</h2>
          <p>
            QuálitasMéxico ofrece las mejores coberturas en el mercado,
            diseñadas por expertos en riesgos que buscan disminuir pérdidas ante
            siniestros. ¡Descubre cómo Quálitas Seguros te respalda ante un
            accidente!
          </p>
        </div>
        <div class="col-md-7 ps-md-5">
          <ul>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Robo Total: Ampara el robo total del auto asegurado y/o daños
              materiales que sufra a consecuencia del robo.
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Daños Materiales: Se cubrirá la reparación de daños o pérdidas
              materiales que afecten a tu auto a consecuencia de choques,
              vuelcos, rotura de cristales, desastres naturales, vandalismo,
              desbielamiento por inundación,etc.
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Responsabilidad Civil de Daños a Terceros: A través de esta
              cobertura cumplirás con la contratación del seguro obligatorios
              solicitado por la ley en México, la cual garantiza la
              indemnización de daños materiales o lesiones corporales a
              terceros.
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Gastos Médicos Ocupantes: A través de esta cobertura todos los
              ocupantes del vehículo asegurado durante un choque, que resulten
              lesionados, tendrán acceso a hospitalización, medicamentos,
              atención médica, servicio de ambulancia y en caso de muerte se
              cubrirán gastos funerarios.
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Asistencia vial: Quálitas Seguros pondrá a tu disposición
              servicios de auxilio vial tales como suministro de combustible,
              cambio de neumáticos, paso de corriente, envío de grúa
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Asistencia en viajes: Cobertura de traslado a tu domicilio, gastos
              de estancia en hotel por convalecencia o gastos funerarios en caso
              de un accidente vial
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Asistencia legal: El seguro cubrirá los honorarios de abogados en
              caso de verte involucrado en un proceso legal ante autoridades
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Muerte del Conductor: En caso de la muerte del conductor tus
              beneficiarios podrán recibir una indemnización.
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Responsabilidad Civil USA: La única aseguradora que ofrece la
              cobertura de Responsabilidad Civil en Estados Unidos desde su
              cobertura limitada.
            </li>
          </ul>
        </div>
        <div class="col-md-5 my-3 text-end pe-0">
          <img
            src="/img/nuevas/03.webp"
            alt="contenido3"
            width="420"
            height="500"
            class="img-fluid"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>¿Dónde cotizar tu Seguro de Auto Quálitas?</h2>
          <p>
            El mejor cotizador de Seguros de Autos Quálitas lo podrás encontrar
            en Qualitassegurosautos.com donde en un solo lugar podrás ¡Cotizar,
            comparar y contratar tu seguro en minutos!
          </p>
        </div>
        <div class="col-md-5 my-3 ps-0">
          <img
            src="/img/nuevas/04.webp"
            width="570"
            height="450"
            class="img-fluid"
            alt="contenido4"
          />
        </div>
        <div class="col-md-7 my-auto">
          <ul>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Cotiza tu seguro a través de un formulario con información básica
              personal y de tu vehículo
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />Contrata cualquiera de las cuatro opciones de seguros de autos
              Quálitas disponibles
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Obtén beneficios de pago exclusivos de Qualistassegurosautos.com
              como pagos a 3, 6, 9 o 12 meses sin intereses o descuentos de
              hasta 30% del costo total de tu póliza.
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Compara las diferentes opciones de coberturas disponibles en
              segundos y elige la que mejor se adapte a tus necesidades y
              presupuesto
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Contrata en línea desde la comodidad de tu casa o trabajo
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Trámite 100% seguro, contamos con aviso de privacidad que protege
              tus datos personales
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              En caso de requerir mayor información o aclarar dudas podrás
              solicitar asistencia telefónica donde ejecutivos expertos en el
              tema podrán orientarte para elegir tu seguro
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Obtén tu póliza de seguro vía correo electrónico hoy mismo
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>Quálitas Seguros ¿Cuánto cuesta tu seguro de auto?</h2>

          <p>
            Encuentra los mejores precios de seguros de autos a través de
            Quálitas, cada póliza se cotiza de manera personalizada con base a
            tus características personales y de las de tu auto tales como:
          </p>

          <ul>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Edad, género y código postal
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Marca, modelo, versión y año del vehículo
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Tipo de cobertura contratada
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Si agregaste coberturas adicionales a tu póliza
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Sumas aseguradas y deducibles elegidos
            </li>
          </ul>

          <p>
            Te compartimos los precios promedio de los seguros de autos más
            comunes en México en 2022:
          </p>
        </div>
        <div class="col-12 col-md-6 mx-auto">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Auto</th>
                  <th scope="col">Amplia</th>
                  <th scope="col">Limitada</th>
                  <th scope="col">Básica</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Versa</th>
                  <td>$10,150</td>
                  <td>$6,403</td>
                  <td>$4,497</td>
                </tr>
                <tr>
                  <th scope="row">Vento</th>
                  <td>$13,513</td>
                  <td>$6,887</td>
                  <td>$4,497</td>
                </tr>
                <tr>
                  <th scope="row">Aveo</th>
                  <td>$9,942</td>
                  <td>$5,947</td>
                  <td>$4,497</td>
                </tr>
                <tr>
                  <th scope="row">March</th>
                  <td>$8,565</td>
                  <td>$5,319</td>
                  <td>$4,497</td>
                </tr>
                <tr>
                  <th scope="row">Beat</th>
                  <td>$9,996</td>
                  <td>$5,719</td>
                  <td>$4,497</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-11 mx-auto">
          <p>*Precios expresados en pesos mexicanos. El precio es anual</p>
          <p>
            ¡Cotiza ahora tu Seguro de Auto con Qualitassegurosautos.com! y
            obtén protección integral para tu vehículo hoy mismo.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>¡Asegura cualquier vehículo con Quálitas!</h2>
          <p>
            Al ser una compañía de seguros especializada en el sector automotriz
            podrás asegurar cualquiera de los vehículos que se mencionan a
            continuación:
          </p>
        </div>
        <div class="col-12 col-md-12 mx-auto bg-card">
          <h2 class="mt-5">¿Qué tipo de vehículos puedo asegurar?</h2>
          <div class="row">
            <div class="col-12">
              <div class="row my-5">
                <div class="col-md-2 col-12 mx-auto my-2">
                  <div class="card tipov">
                    <div class="card-body text-center">
                      <img
                        src="/img/icons/iconcar.svg"
                        width="75"
                        height="75"
                        class="img-fluid"
                        alt="autos"
                        loading="lazy"
                      />
                      <p>Autos y Pick Ups de uso personal</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-12 mx-auto my-2">
                  <div class="card tipov">
                    <div class="card-body text-center">
                      <img
                        src="/img/icons/motoicon.svg"
                        width="75"
                        height="75"
                        class="img-fluid"
                        alt="motos"
                        loading="lazy"
                      />
                      <p>Motos</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-12 mx-auto my-2">
                  <div class="card tipov">
                    <div class="card-body text-center">
                      <img
                        src="/img/icons/pickupicon.svg"
                        width="75"
                        height="75"
                        class="img-fluid"
                        alt="pick-up"
                        loading="lazy"
                      />
                      <p>Pick Ups de carga</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-12 mx-auto my-2">
                  <div class="card tipov">
                    <div class="card-body text-center">
                      <img
                        src="/img/icons/iconcar.svg"
                        width="75"
                        height="75"
                        class="img-fluid"
                        alt="camiones"
                        loading="lazy"
                      />
                      <p>Camiones</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-12 mx-auto my-2">
                  <div class="card tipov">
                    <div class="card-body text-center">
                      <img
                        src="/img/icons/tractoicon.svg"
                        width="75"
                        height="75"
                        class="img-fluid"
                        alt="tracto"
                        loading="lazy"
                      />
                      <p>Turistas</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row my-5">
                <div class="col-md-2 col-12 mx-auto my-2">
                  <div class="card tipov">
                    <div class="card-body text-center">
                      <img
                        src="/img/icons/iconcar.svg"
                        width="75"
                        height="75"
                        class="img-fluid"
                        alt="taxi"
                        loading="lazy"
                      />
                      <p>
                        Seguro de responsabilidad civil profesional para agentes
                        de app
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-12 mx-auto my-2">
                  <div class="card tipov">
                    <div class="card-body text-center">
                      <img
                        src="/img/icons/taxicon.svg"
                        width="75"
                        height="75"
                        class="img-fluid"
                        alt="fonterizos"
                        loading="lazy"
                      />
                      <p>Servicio público de pasajeros</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-12 mx-auto my-2">
                  <div class="card tipov">
                    <div class="card-body text-center">
                      <img
                        src="/img/icons/iconcar.svg"
                        width="75"
                        height="75"
                        class="img-fluid"
                        alt="turistas"
                        loading="lazy"
                      />
                      <p>Fronterizos y regularizados</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-12 mx-auto my-2">
                  <div class="card tipov">
                    <div class="card-body text-center">
                      <img
                        src="/img/icons/iconcar.svg"
                        width="75"
                        height="75"
                        class="img-fluid"
                        alt="turistas"
                        loading="lazy"
                      />
                      <p>Seguro básico estandarizado</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-12 mx-auto my-2">
                  <div class="card tipov">
                    <div class="card-body text-center">
                      <img
                        src="/img/icons/taxicon.svg"
                        width="75"
                        height="75"
                        class="img-fluid"
                        alt="turistas"
                        loading="lazy"
                      />
                      <p>
                        Seguro de avería mecánica y eléctrica para automóviles
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="fw-bold">
              Quálitas se mantiene en constante actualización en sus pólizas
              cubriendo las necesidades y tendencias actuales de los usuarios
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>Coberturas Adicionales para tu Seguro de Auto</h2>
          <p>
            ¡Personaliza tu póliza y obtén un seguro de auto más integral a
            través de las coberturas adicionales que solo Quálitas ofrece!
          </p>
        </div>
        <div class="col-md-6 col-12 my-auto px-0">
          <img
            src="/img/nuevas/05.png"
            width="400"
            height="360"
            class="img-fluid w-100"
            alt="contenido5"
          />
        </div>
        <div class="col-md-6 col-12">
          <ul>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Pérdida Total
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Robo Parcial
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Responsabilidad Civil Complementaria de Personas
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Responsabilidad Civil por Daños a Ocupantes
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Responsabilidad Cruzada
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Arrastre de Remolque
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Extensión de cobertura
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Equipo especial
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Adaptaciones y Conversiones
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Gastos de Transporte por Pérdida Total del Asegurado
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Exención de Deducible
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Reducción de Deducible en caso de Robo Total
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Daños Materiales a Neumáticos
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Auto Sustituto
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>Sumas Aseguradas y Deducibles de tu Seguro de Auto</h2>
          <p>
            Solo en Quálitas tendrás la opción de poder elegir las sumas
            aseguradas y deducibles funcionales para proteger tu vehículo.
          </p>
        </div>
        <div class="col-md-10 mx-auto">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Cobertura</th>
                  <th scope="col">Deducible</th>
                  <th scope="col">Monto Asegurado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Daños materiales</th>
                  <td>3%, 4%, 5% y 10</td>
                  <td>Valor Comercial</td>
                </tr>
                <tr>
                  <th scope="row">Robo total</th>
                  <td>5%, 10% y 20%</td>
                  <td>Valor Comercial</td>
                </tr>
                <tr>
                  <th scope="row">Responsabilidad Civil de Daños a Terceros</th>
                  <td>Sin deducible</td>
                  <td>Hasta 3 millones de pesos</td>
                </tr>
                <tr>
                  <th scope="row">Accidentes a Ocupantes</th>
                  <td>Sin deducible</td>
                  <td>Hasta 100 mil pesos</td>
                </tr>
                <tr>
                  <th scope="row">Gastos Médicos a Ocupantes</th>
                  <td>Sin deducible</td>
                  <td>Hasta 200 mil pesos</td>
                </tr>
                <tr>
                  <th scope="row">Rotura de Cristales</th>
                  <td>20%</td>
                  <td>Personalizado</td>
                </tr>
                <tr>
                  <th scope="row">
                    Daños y/o Robo de Adaptaciones, Conversiones o Equipo
                    Especial
                  </th>
                  <td>5%, 10% y 20%</td>
                  <td>Personalizado</td>
                </tr>
                <tr>
                  <th scope="row">Gastos Legales</th>
                  <td>Sin deducible</td>
                  <td>Hasta 3 millones de pesos</td>
                </tr>
                <tr>
                  <th scope="row">Asistencia Vial</th>
                  <td>Sin deducible</td>
                  <td>Hasta 20 mil pesos</td>
                </tr>
                <tr>
                  <th scope="row">Muerte del Conductor por Accidente</th>
                  <td>Sin deducible</td>
                  <td>Hasta 100 mil pesos</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>Requisitos y Forma de pago para Contratar mi Seguro Quálitas</h2>
          <p>
            Al contratar tu seguro de auto Quálitas en línea deberás contar con
            los siguientes documentos:
          </p>
        </div>
        <div class="col-md-6 my-auto">
          <div class="px-md-5 mx-2">
            <p><strong>Datos Personales:</strong></p>

            <ul>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Ser mayor de edad.
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Nombre completo
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Identificación oficial como INE o Pasaporte.
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Licencia de conducir vigente
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Tarjeta de circulación
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Comprobante de domicilio no mayor a 3 meses
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Teléfono de contacto, de preferencia proporciona un teléfono de
                celular.
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                RFC
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Correo electrónico
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 my-5">
          <img
            src="/img/nuevas/06.webp"
            width="660"
            height="365"
            class="img-fluid w-100"
            alt="contenido6"
          />
        </div>

        <div class="col-md-6 my-5 ps-0">
          <img
            src="/img/nuevas/07.webp"
            width="663"
            height="368"
            class="img-fluid w-100"
            alt="contenido7"
          />
        </div>
        <div class="col-md-6 my-auto mx-auto">
          <p><strong>Datos del vehículo</strong></p>

          <ul>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Marca del automóvil
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Submarca del automóvil
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Modelo
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Año de fabricación
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Número de serie del vehículo
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Número de motor del vehículo
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Color de la carrocería
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Descripción general del automóvil
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Placas
            </li>
          </ul>
        </div>
        <div class="col-md-11 mx-auto">
          <p>
            La forma de pago puedes realizarla a través de tarjeta de crédito o
            débito.
          </p>
          <p>
            ¡Cotiza y contrata en minutos tu seguro de auto a través de
            Qualitassegurosautos.com!
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>¿Cómo cotizar mi Seguro de Auto con Qualitassegurosautos.com?</h2>
          <p>
            Para obtener el mejor precio de tu seguro de auto solo necesitas
            seguir los siguientes pasos:
          </p>
        </div>
        <div class="col-md-6">
          <div class="px-md-5">
            <ul>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Ingresa a Qualitassegurosautos.com
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Llena el formulario con los datos del vehículo que deseas
                asegurar: Marca, Modelo, Submarca y Descripción
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Ingresa tus datos personales: Edad, Género y Código Postal
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Compártenos tu información de contacto: Nombre, Email y Número
                Celular
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Finaliza aceptando nuestro “Aviso de Privacidad”
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                ¡Listo! Cotiza Gratis tu seguro de auto Quálitas
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Elige la opción de cobertura que más se adapte a tus necesidades
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />Contrata en línea de manera segura y rápida
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Recibe en minutos tu póliza de seguro vía correo electrónico
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                ¡Estás listo para conducir con la mejor protección de México!
              </li>
            </ul>

            <p>Cotiza las veces que sea necesario ¡Gratis!</p>
          </div>
        </div>
        <div class="col-md-6 pe-0">
          <img
            src="/img/nuevas/08.webp"
            class="img-fluid w-100"
            alt="contenido8"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>Renueva tu Seguro de Auto</h2>

          <p>
            ¡Con Quálitas renovar tu seguro de auto es muy sencillo! Podrás
            elegir la renovación automática de tu seguro, de esta forma no
            tendrás que preocuparte por realizar dicho trámite y llegar a quedar
            desprotegido por el término de vigencia.
          </p>
          <p>
            En caso de que desees renovar de manera manual o realizar algún tipo
            de cambio dentro de tu póliza o incluso su cancelación te
            recomendamos comunicarte directamente con la aseguradora al menos
            con 30 días antes de la fecha de vencimiento.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>¡Conoce los Medios Digitales de Quálitas!</h2>
          <p>
            Realiza trámites a través de los canales digitales que esta compañía
            pone a tu alcance:
          </p>
        </div>
        <div class="col-md-6">
          <div class="px-md-5">
            <p><b>Servicios en Línea Página web Quálitas</b></p>
            <ul>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Contratar tu póliza de seguro para auto o para moto
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Pago de primas
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Pago de deducibles
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Consulta estatus de siniestro
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Consulta estatus de póliza
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Descarga de facturas
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Descarga de pólizas de Seguro de Responsabilidad Civil
                Obligatoria
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Descarga de pólizas de Seguro de Responsabilidad Civil
                Obligatoria USA
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />Consulta del reglamento de tránsito
              </li>
            </ul>
            <p><b>Servicios en App “QMóvil”</b></p>

            <ul>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Reporta un siniestro vial
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Solicita asistencia vial como envío de grúa, envío de gasolina,
                cambio de llanta, servicio de cerrajería, paso de corriente
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Sigue en tiempo real la trayectoria del ajustador que se te fue
                asignado para atender tu solicitud de siniestro
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Consulta estatus de reparación de daños materiales a tu vehículo
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Revisa condiciones y términos de tu póliza contratada
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Si tienes contratado el servicio de asistencia satelital podrás
                seguir vía GPS la ubicación de tu vehículo o conocer las últimas
                ubicaciones del mismo, funcional en caso de robo
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Podrás consultar ubicaciones de gasolineras, hospitales, taxis,
                cajeros automáticos, etc. cerca de tu ubicación
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Conoce la ubicación de las diferentes oficinas de Seguros
                Quálitas
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Visualizar promociones o avisos referente a las pólizas de esta
                compañía de seguros
              </li>
              <li>
                <img
                  src="/img/nuevas/check.svg"
                  width="17"
                  height="17"
                  alt="check"
                />
                Registro de póliza con código QR
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 my-3 pe-0">
          <img
            src="/img/nuevas/09.webp"
            class="img-fluid w-100"
            alt="contenido9"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>¿Qué hacer en caso de un Siniestro?</h2>
          <p>
            Con Quálitas Seguros podrás tener respuesta inmediata en caso de un
            siniestro vial, para ello deberás comunicarte a los número de
            emergencia 800 800 2880, 800 288 6700 y proporcionar los siguientes
            datos:
          </p>
        </div>
        <div class="col-md-6 my-5 ps-0">
          <img
            src="/img/nuevas/10.webp"
            class="img-fluid w-100"
            alt="contenido10"
          />
        </div>
        <div class="col-md-6 my-auto">
          <ul>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Número de póliza e inciso en su caso
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Nombre del asegurado
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Nombre del conductor al momento del accidente
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Nombre de la persona que reporta
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Número telefónico para estar en contacto con el conductor
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Datos generales de tu vehículo como modelo, marca, color, placas,
              número de serie, tipo, localización
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Lugar del accidente lo más detallado posible como calle, colonia,
              número y referencias de la zona
            </li>
          </ul>
        </div>
        <div class="col-md-11 mx-auto">
          <p>
            Quálitas Seguros cuenta con una red de ajustadores de seguros que
            estarán disponibles en todo momento para atender cualquier tipo de
            emergencia en el momento necesario
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>Opiniones de Quálitas Seguros</h2>

          <p>
            Quálitas Seguros es una empresa que ha demostrado su solidez
            financiera y su calidad de atención al cliente a través de su
            trayectoria. Actualmente se encuentra registrada ante la Comisión
            Nacional de Seguros y Fianzas (CNSF) y es constantemente evaluada
            por la Comisión Nacional para la Protección y Defensa de los
            Usuarios de Servicios Financieros (CONDUSEF).
          </p>
          <p>
            La CONDUSEF ha calificado a Quálitas como una de las mejores
            opciones de seguros de autos en México, colocándola dentro del top
            10 gracias a su resolución de quejas, atención a reclamaciones así
            como la atención que brindan a sus usuarios.
          </p>
          <p>¡Conoce las opiniones de otros clientes!:</p>

          <ul>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Atención inmediata al consultar información sobre seguros
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Buen trato al cliente
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Resolución de quejas y problemas sobre trámites
            </li>
            <li>
              <img
                src="/img/nuevas/check.svg"
                width="17"
                height="17"
                alt="check"
              />
              Excelente asesoría sobre las diferentes coberturas disponibles
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>Conoce más sobre Quálitas Seguros</h2>

          <p>
            Fundada en el año 1993 en la Ciudad de México, Quálitas actualmente
            cuenta con más de 418 oficinas en servicio en toda la república
            mexicana. Su principal promesa es estar presentes cuando más lo
            necesites.
          </p>
          <p>
            Quálitas Seguros se encuentra registrada dentro de la AMIS
            (Asociación Mexicana de Instituciones de Seguros) lo cual brinda
            mayor confiabilidad para adquirir cualquier tipo de servicio.
          </p>
          <p>
            Con más de 28 años de operación,su ramo principal es el desarrollo
            de pólizas para autos, actualmente cuenta con una gran diversidad de
            pólizas para cada necesidad adaptándose así a los tiempos actuales.
          </p>
        </div>
      </div>

      <!--VEMOOOS-->

      <div class="row">
        <div class="col-md-11 mx-auto">
          <h2>Preguntas Frecuentes</h2>

          <p><b>¿Dónde Reportar un Siniestro Vial?</b></p>
          <p>
            A través de los números telefónicos: 800 800 2880 y 800 288 6700, en
            caso de vivir en Ciudad de México y Área Metropolitana: 55 5481 8580
            y 55 5258 2880. También podrás reportarlo a través de la app QMóvil
          </p>

          <p><b>¿Cuál es la calificación de la CONDUSEF hacia Quálitas?</b></p>
          <p>
            Año con año la CONDUSEF ha incluido a Quálitas dentro del top 10 de
            mejores aseguradoras en México, actualmente esta compañía cuenta con
            una evaluación de 9.11 y 9.79.
          </p>

          <p><b>¿Qué debo hacer en caso del Robo de mi Vehículo?</b></p>
          <p>
            Comunícate de forma inmediata a los números de atención Quálitas 800
            800 2880 y 800 288 6700, en caso de vivir en Ciudad de México y Área
            Metropolitana: 55 5481 8580 y 55 5258 2880. Ante ello el seguro
            enviará un ajustador que te acompañará a realizar todos los procesos
            legales necesarios para notificar los hechos
          </p>

          <p>
            <b>¿Cuánto tiempo tardará Quálitas en pagar una reclamación?</b>
          </p>
          <p>
            Dependiendo del tipo de reclamación, así como el tiempo que lleve el
            proceso de entrega de documentación entre otros factores el pago
            podría demorar en promedio hasta 72 horas.
          </p>

          <p><b>¿Vigencia del Seguro de Auto Quálitas?</b></p>
          <p>
            La vigencia de tu póliza es por 1 año a partir de la fecha de
            contratación.
          </p>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-12 cont">
          <hr />
          <section>
            <div class="row">
              <div class="col-12 col-md-2">
                <img src="/img/pixel.svg" width="100" height="100" class="img-sprite d-block" id="carB" :alt="$store.state.config.k4" />
              </div>
              <div class="col-md-9">
                <h2>¿Por qué Quálitas es tu mejor opción?</h2>
                <p>Quálitas se caracteriza por brindar la más alta innovación en sus productos, pues desarrollan los servicios más novedosos y flexibles del mercado, estos se adaptan de mejor manera a las necesidades de los clientes, pues el sector automotriz es su mayor especialidad.</p>
                <p>Actualmente Quálitas Seguros de Autos está consolidada como una de las aseguradoras con mayor eficiencia en el país, ya que ofrece una solidez financiera a todos sus clientes, además de marcar una notable diferencia en relación a otras compañías. Es así que Quálitas te respalda ante cualquier siniestro o accidente que pueda ocurrirte, o que llegaras a provocar, así como la pérdida total del vehículo por robo.</p>
              </div>
            </div>
          </section>
          <section>
            <div class="row">
              <div class="col-12 col-md-2">
                <img src="/img/pixel.svg" width="100" height="100"  class="img-sprite d-block" id="puño"  :alt="$store.state.config.k5" />
              </div>
              <div class="col-md-9">
                <h2>Un Seguro de Autos Quálitas para tí</h2>
                <p>Quálitas se especializa en el sector de automóviles y camiones, esto con la finalidad de brindar la más alta gama de coberturas, las cuales se adaptan a las necesidades reales de cada cliente, además de diseñar planes accesibles y atractivos, mismos que fijan un mayor valor a la indemnización en caso de siniestros, pues Quálitas Seguros es una de las pocas compañías que determina los deducibles desde un inicio, lo que le permite darte las mejores opciones para la suma asegurada de tu vehículo desde el momento de la contratación.</p>
                <p>Sabemos que tu economía es lo más importante para un buen futuro, es así que Seguros Quálitas se preocupa por cuidar de tu inversión, y es que si no cuentas con una protección en Seguro de Autos, corres el riesgo de perder todo.</p>
              </div>
            </div>
          </section>
          <div class="row">
            <div class="container-fluid imgFonCont">
              <div class="bgTri3"></div>
              <div class="col-12">
                <a href="#Top" class="btn">Cotiza gratis ahora mismo</a>
              </div>
            </div>
          </div>
          <hr />
          <section>
            <div class="row">
              <div class="col-12 col-md-2">
                <img src="/img/pixel.svg" width="100" height="100" class="img-sprite d-block" id="grua" :alt="$store.state.config.k6" />
              </div>
              <div class="col-md-9 mb-4">
                <h3>Los mejores beneficios para tu seguro con Quálitas</h3>
                <p>Te brindaremos el servicio eficiente que necesitas, pues comenzando por la atención personalizada, por nuestros asesores expertos en el sector, te responderemos a todo lo que debas saber acerca de Seguros de Autos Quálitas, además de ayudarte a elegir la cobertura que mejor te convenga, recuerda que Quálitas Seguros de Autos te brinda los mejores beneficios, tales como:</p>
                <ul>
                  <li>
                    <img src="/img/pixel.svg" width="17" height="17" class="img-sprite" alt="check" />&nbsp; Responsabilidad Civil por hasta 5 millones de pesos en todo México, y hasta 200 mil dólares en el extranjero
                  </li>
                  <li>
                    <img src="/img/pixel.svg" width="17" height="17" class="img-sprite" alt="check" />&nbsp; Gastos médicos a conductor y acompañantes de 200 mil pesos por persona.
                  </li>
                  <li>
                    <img src="/img/pixel.svg" width="17" height="17"  class="img-sprite" alt="check" />&nbsp; Asistencia vial sin límite de eventos en grúas, envío de gasolina, y pasa de corriente.
                  </li>
                  <li>
                    <img src="/img/pixel.svg" width="17" height="17"  class="img-sprite" alt="check" />&nbsp; Asistencia legal por distintas situaciones, con pago de hasta 1 millón de pesos en fianza.
                  </li>
                  <li>
                    <img src="/img/pixel.svg" width="17" height="17" class="img-sprite" alt="check" />&nbsp; Pago de indemnización total por la pérdida o robo total del vehículo, además de auto sustituto hasta por 30 días.
                  </li>
                </ul>
                <p>Con Quálitas puedes asegurar automóviles, camionetas, vehículos de equipo pesado, así como transporte público. Además podrás contar con el respaldo de una de las pocas compañías aseguradoras que maneja sistemas especializados para la prevención del robo de autos, de esta forma con Seguros Quálitas es más probable la recuperación, o localización de los vehículos, todo esto mediante la protección a las unidades por rastreo satelital.</p>
                <p>Los mejores beneficios que Seguros Quálitas ofrece al mercado, ahora los podrás obtener de manera fácil. Recuerda que los requisitos son muy simples; únicamente te solicitamos el modelo, marca, versión, y número de puertas del automóvil, así como tarjeta de circulación, número de serie del vehículo, tu identificación oficial, RFC y el código postal de tu domicilio.</p>
                <h5 class="text-center">¡No esperes más, cotiza y contrata en menos de 2 minutos!</h5>
              </div>
            </div>
          </section>
        </div>
      </div>-->
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/formN.vue";
import cardpromo from "~/components/alerta/alerta.vue";
import getInsurerPromo from "~/plugins/promoData.js";
import telefonoService from "~/plugins/telefonoService.js";
export default {
  layout: "index",
  components: {
    formulario,
    cardpromo,
  },
  beforeCreate() {
    //POR ASEGURADORA
    this.$store.state.config.aseguradora = "QUALITAS";
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.interaccion = true;
    this.$store.state.config.grupoCallback = "VN QUALITAS";
    this.$store.state.config.textoSMS =
      "Felicidades: Ya tenemos tu cotización en breve un ejecutivo te contactará.";
    this.$store.state.config.dominioCorreo =
      "AUTOS|QUALITAS|qualitassegurosautos-com";
    this.$store.state.config.idPagina = 14;
    this.$store.state.config.idCampana = 1;
    this.$store.state.config.idSubRamo = 35;
    // if (this.$route.name === "index") {
    this.$store.state.config.idMedioDifusion = 17;
    this.$store.state.config.idMedioDifusionInteraccion = 2183;
    this.$store.state.config.idMedioDifusionEcommerce = 1770;
    this.$store.state.config.urlRedireccion = "/thank-you/";
    // }
    this.$store.state.config.titulo = "Quálitas Seguros de Autos"; // INDEX
    // En layout Index

    this.$store.state.config.k1 = "Quálitas Seguros";
    this.$store.state.config.k2 = "Seguros Quálitas";
    this.$store.state.config.k3 = "Seguros de autos Quálitas";
    this.$store.state.config.k4 = "Quálitas Seguros Autos";
    this.$store.state.config.k5 = "Quálitas Seguros México";
    this.$store.state.config.k6 = "Seguros Quálitas Autos";
    this.$store.state.config.k7 = "Cotiza Seguros de Autos Quálitas";
    this.$store.state.config.clase2 = "col-6 col-md-6 col-lg-5 offset-lg-1";
    this.$store.state.config.clase3 =
      "col-6 col-md-6 col-lg-5 offset-lg-1 my-auto";
    this.$store.state.config.formg = 1;
    this.$store.state.config.clase1 = "adorno-Normal";
    this.$store.state.config.colorPromo = "colorNormal";
    // SEO METAS Y KEYWORDS
    this.$store.state.config.canonicalSeo = "https://qualitassegurosautos.com/";
    this.$store.state.config.titleSeo =
      "Quálitas Seguros - Cotiza tu Seguro de Auto Qualitas";
    this.$store.state.config.keywordSeo =
      "  Quálitas, Quálitas Seguros, Seguros Quálitas, Seguros de Autos Quálitas, Cotizar Seguro de Auto Quálitas, Quálitas México, Seguro de Auto Quálitas, Cotizador de Seguros de Autos Quálitas";
    this.$store.state.config.descriptionSeo =
      "Cotiza, compara y contrata en minutos tu Seguro de Auto Quálitas en línea. Obtén a través de Quálitas Seguros precios y descuentos exclusivos.";
  },
  head() {
    return {
      title: this.$store.state.config.titleSeo,
      link: [
        {
          hid: "canonical",
          rel: "canonical",
          href: this.$store.state.config.canonicalSeo,
        },
      ],
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content: this.$store.state.config.keywordSeo,
        },
        {
          hid: "description",
          name: "description",
          content: this.$store.state.config.descriptionSeo,
        },
        { hid: "author", name: "author", content: "linkedin | Abigail-Flores" },
        { hid: "robots", name: "robots", content: "index,follow" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        //SEO
        {
          hid: "fb:app_id",
          name: "fb:app_id",
          property: "fb:app_id",
          content: "",
        },
        {
          hid: "og:url",
          name: "og:url",
          property: "og:url",
          content: this.$store.state.config.canonicalSeo,
        },
        {
          hid: "og:type",
          name: "og:type",
          property: "og:type",
          content: "website",
        },
        {
          hid: "og:title",
          name: "og:title",
          property: "og:title",
          content: this.$store.state.config.titleSeo,
        },
        {
          hid: "og:keywords",
          name: "og:keywords",
          property: "og:keywords",
          content: this.$store.state.config.keywordSeo,
        },
        {
          hid: "og:description",
          name: "og:description",
          property: "og:description",
          content: this.$store.state.config.descriptionSeo,
        },
        {
          hid: "og:image",
          name: "og:image",
          property: "og:image",
          content: "./img/banner.jpg",
        },
        {
          hid: "og:alt",
          name: "og:alt",
          property: "og:alt",
          content: this.$store.state.config.titleSeo,
        },
      ],
     
      /*title: "Quálitas Seguros - ▷ Quálitas 🥇 - Cotiza Seguro de Auto Quálitas",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Quálitas, Quálitas Seguros, Seguros Quálitas, Seguros de autos Quálitas, Quálitas Seguros Autos, Quálitas Seguros México, Seguros Quálitas Autos, Cotiza Seguros de Autos Quálitas"
        },
        {
          hid: "description",
          name: "description",
          content:
            "Quálitas la aseguradora No.1 en proteger autos, ⇨ descubre las mejores coberturas de los seguros de autos Quálitas ¡Fácilmente!"
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "qualitassegurosautos.com"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://qualitassegurosautos.com/"
        }
      ]*/
    };
  },
};
</script>
