<template>
  <div class="col-md-11 offset-md-1 col-12 mb-2 my-md-0 text-end"> 
    <div class=" m-auto">
          <div class="container-fluid px-0" :class="this.$store.state.config.clase1">
            <div class="row bblanco px-0">
              <div class="text-center bg-blanco" style="position:relative" :class="this.$store.state.config.clase2">
               
                    <img
                    src="/img/logotipo-agente.svg"
                    alt="aseguradora"
                    width="170"
                    height="100"
                    class="img-fluid px-2 imgPromociones"
                  />
                  <img
                  v-if="this.$store.state.config.promoSpecial"
                    :src="this.$store.state.config.promoImg"
                    alt="logo promocion"
                    class="img-fluid promocion"
                    width="65"
                    height="40"
                  />
                  
                <!-- <img
                  src="/img/nuevas/Qualitas.svg"
                  alt="Logo Aseguradora"
                  class="img-fluid imgPromociones"
                  width="170"
                  height="80"
                />
                <img
                  v-if="this.$store.state.config.promoSpecial"
                  :src="this.$store.state.config.promoImg"
                  alt="logo promocion"
                  class="img-fluid promocion"
                  width="85"
                  height="85"
                /> -->
              </div>
              <!-- <div class="col-2 col-sm-2 col-md-4 col-lg-3 my-auto" v-if="this.$store.state.config.promoSpecial">
                <img
                  :src="this.$store.state.config.promoImg"
                  alt="logo promocion"
                  class="ms-lg-3 ms-3 img-fluid logo-promo"
                  width="85"
                  height="85"
                />
              </div> -->
              <div class="my-auto fichadesc py-3 ps-0 pe-2"  :class="this.$store.state.config.clase3">
                <p class="mb-0 desct">{{ this.$store.state.config.promoLabel || 'cargando...' }}  {{this.$store.state.config.desc}} </p>
                <p class="mb-0 desct2">{{this.$store.state.config.msi || 'cargando...' }} {{this.$store.state.config.extraMsg}}</p> <!-- Meses Sin Intereses-->
              </div>
              
            </div>
          </div>
        </div>
  </div>
</template>
<script> 

// export default {
//   created: function() {
//     this.$store.state.config.desc = '30% de descuento'
//     this.$store.state.config.msi = '3, 6, 9 y 12 '
//     this.$store.state.config.adicional= "";
//     this.$store.state.config.imgPromo = "d-none";
//     this.$store.state.config.colDesc = "col-8 col-md-8";
//     this.$store.state.config.adorno='adornoNormal'
//     this.$store.state.config.colorPromo='colorNormal'
//     this.$store.state.config.meses="meses sin intereses"
//     this.$store.state.config.promomes=false


//   },
//   mounted() {
//     this.fecha();
//     //this.promo();
//   },
//   methods: {
//     fecha: function() {
//       var fecha = new Date();
//       var dia = fecha.getDate();
//       // var dia=14
//      if (dia >= 10 && dia <=  17 ) {
//         this.$store.state.config.desc = "30% de descuento"; 
//         this.$store.state.config.msi = "+ 3, 6, 9 y 12 ";
//         this.$store.state.config.imgPromo =" d-block";
//         this.$store.state.config.colDesc = "col-6 col-md-6";
//         this.$store.state.config.adorno='adornosPromo'
//         this.$store.state.config.colorPromo='descuentosPromo'
//         this.$store.state.config.promomes=true

//         console.log("promo");
//       }
//       if (dia >= 29 && dia <=  30 ) {
//         this.$store.state.config.desc = "30% de descuento"; 
//         this.$store.state.config.msi = "+ 3, 6, 9 y 12 ";
//         this.$store.state.config.imgPromo = "d-none";
//         this.$store.state.config.colDesc = "col-8 col-md-8";
//         this.$store.state.config.adorno='adornoNormal'
//         this.$store.state.config.colorPromo='colorNormal'
//         this.$store.state.config.promomes=false

//         console.log("promo");
//       }
//       if (dia >= 1 && dia <=  9 ) {
//         this.$store.state.config.desc = "30% de descuento"; 
//         this.$store.state.config.msi = "+   3, 6, 9 y 12  ";
//         this.$store.state.config.imgPromo = "d-none";
//         this.$store.state.config.colDesc = "col-8 col-md-8";
//         this.$store.state.config.adorno='adornoNormal'
//         this.$store.state.config.colorPromo='colorNormal'
//         this.$store.state.config.promomes=false

//         console.log("promo");
//       }
//     console.log( dia);
//   }
//   }
// };
</script>

<style scoped>
#imgPromo{width: 40px}
#imgHot{width: 80px;margin-bottom: 5px;}
.row {
  -webkit-box-align: center;
  align-items: center;
}
.alertaColor {
  padding: 0;
  margin: 0;
}
p {
  color: #fff;
  font-weight: 600;
  width: 96%;
  line-height: 1.4;
  font-size: 18px;
}
h6 {
  color: #fff;
  width: 100%;
  font-size: 12px;
}
.alertaColor svg {
  margin: 0 5px 0 0;
  width: 40px;
  padding: 0;
}
.alertaColor button span,
.alertaColorPromo button span {
  z-index: 1;
  position: absolute;
  color: #fff;
  right: 0;
  font-size: 30px;
}
.close {
  opacity: 1 !important;
}

@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
   p {
    font-size: 12px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
}
@media (min-width: 376px) and (max-width: 425px) {
  p {
    font-size: 13px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  p {
    font-size: 12px;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  p {
    font-size: 15px;
  }
}
</style>

