<template>
  <form
    id="formcotizar"
    method="POST"
    action
    novalidate
    @submit.prevent="validateBeforeSubmit('formcotizar')"
  >
    <p class="text-center my-2 datos">
      Ingresa los datos de tu automóvil y conductor
    </p>
    <div class="row">
      <!-- MARCA -->
      <div class="col-6 form">
        <select
          title="marca"
          name="marca"
          id="marca"
          class="form-control form-select bg-footer mb-2"
          v-model="$store.state.formData.marca"
          @change="getModelos(), myFocus('modelo')"
          required="required"
        >
          <option value>Marca</option>
          <option v-for="marca in formData.marcas" v-bind:key="marca.text">
            {{ marca.text }}
          </option>
        </select>
        <small style="display: none; color: red" class="marcaReq">
          <span>El campo marca es requerido</span></small
        >
      </div>
      <!-- MODELO -->
      <div class="col-6 form">
        <select
          title="modelo"
          name="modelo"
          id="modelo"
          required="required"
          v-model="$store.state.formData.modelo"
          class="form-control form-select bg-footer mb-2"
          @change="getDescripciones(), myFocus('descripcion')"
        >
          <option value>Modelo</option>
          <option v-for="modelo in formData.modelos" v-bind:key="modelo.text">
            {{ modelo.text }}
          </option>
        </select>
        <small style="display: none; color: red" class="modeloReq"
          ><span>El campo modelo es requerido</span></small
        >
      </div>
    </div>
    <div class="row">
      <!-- DESCRIPCION -->
      <div class="col-6 form">
        <select
          style="overflow: hidden; width: 100%"
          title="descripcion"
          name="descripcion"
          id="descripcion"
          required="required"
          class="form-control form-select bg-footer mb-2"
          @change="getSubDescripciones(), myFocus('detalle')"
          v-model="$store.state.formData.descripcion"
        >
          <option value>Submarca</option>
          <option
            v-for="descripcion in formData.descripciones"
            v-bind:key="descripcion.text"
          >
            {{ descripcion.text }}
          </option>
        </select>
        <small style="display: none; color: red" class="descripcionReq"
          ><span>El campo Submarca es requerido</span></small
        >
      </div>
      <!-- SUBDESCRIPCION -->
      <div class="col-6 form">
        <select
          style="overflow: hidden; width: 100%"
          name="detalle"
          id="detalle"
          v-model="$store.state.formData.clave"
          required="required"
          class="form-control form-select bg-footer mb-2"
          @change="detalleSelected(), myFocus('edad')"
        >
          <option value>Descripción</option>
          <option
            v-for="subdescripcion in formData.subDescripciones"
            v-bind:key="subdescripcion.text"
            :value="subdescripcion.id"
          >
            {{ subdescripcion.text }}
          </option>
        </select>
        <small style="display: none; color: red" class="detalleReq"
          ><span>El campo Descripción es requerido</span></small
        >
      </div>
    </div>
    <div class="row">
      <!-- EDAD -->
      <div class="col-12 text-center datos">Datos del Conductor</div>
      <div class="col-12 form">
        <select
          title="edad"
          name="edad"
          id="edad"
          required=""
          class="form-control form-select bg-footer mb-2"
          v-model="$store.state.formData.edad"
          @change="
            calculaFechaNacimiento(), myFocus('genero'), warningReq('edadReq')
          "
        >
          <option value>Edad del conductor</option>
          <option v-for="edad in formData.edades" v-bind:key="edad">
            {{ edad }}
          </option>
        </select>
        <small style="display: none; color: red" class="edadReq"
          ><span>El campo edad es requerido</span></small
        >
      </div>
    </div>
    <div class="row">
      <!-- GENERO -->
      <div class="col-6 form">
        <select
          title="genero"
          name="genero"
          v-model="$store.state.formData.genero"
          id="genero"
          @change="myFocus('cp'), warningReq('generoReq')"
          required="required"
          class="form-control form-select bg-footer mb-2"
        >
          <option value>Género</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
        <small style="display: none; color: red" class="generoReq"
          ><span
            >&nbsp;&nbsp;&nbsp;&nbsp;El campo genero es requerido</span
          ></small
        >
      </div>
      <!-- CODIGO POSTAL -->
      <div class="col-6 form form-floating">
        <input
          title="cp"
          type="tel"
          name="cp"
          id="cp"
          maxlength="5"
          minlength="5"
          onKeyPress="if(this.value.length === 5) return false;"
          @change="myFocus('nombre'), warningReq('cpReq')"
          v-model="cp"
          required="required"
          class="form-control bg-footer mb-2"
          placeholder="Código Postal"
        />
        <label for="cp" class="text-center ps-3">Código Postal</label>
        <small style="display: none; color: red" class="cpReq"
          ><span>El campo codigo postal es requerido</span></small
        >
        <small style="display: none; color: #a82390" class="cpInc"
          ><span>Escribe tu código postal a 5 dígitos</span></small
        >
      </div>
    </div>
    <!-- NOMBRE -->
    <div class="row">
      <div class="col-12 form form-floating">
        <input
          title="nombre"
          type="text"
          name="nombre"
          pattern="[a-zA-Z\sñÑáéíóúÁÉÍÓÚ\s\.]{3,50}"
          id="nombre"
          v-model="nombre"
          required="required"
          minlength="2"
          class="form-control bg-footer mb-2"
          placeholder="Nombre"
          @change="space('nombre')"
        />
        <label for="nombre" class="text-center ps-3">Nombre</label>
        <small style="display: none; color: red" class="nombreReq"
          ><span>El campo nombre es requerido</span></small
        >
        <small style="display: none; color: #a82390" class="nombreInc"
          ><span>Escribe el nombre correcto</span></small
        >
      </div>
    </div>
    <!-- CORREO -->
    <div class="row">
      <div class="col-12 col-lg-6 form form-floating">
        <input
          title="correo"
          type="email"
          name="correo"
          id="correo"
          v-model="correo"
          required="required"
          minlength="8"
          class="form-control bg-footer mb-2"
          placeholder="Email"
          @change="space('correo')"
        />
        <label for="correo" class="text-center ps-3">Email</label>
        <small style="display: none; color: red" class="correoReq"
          ><span>El campo e-mail es requerido</span></small
        >
        <small style="display: none; color: #a82390" class="correoInc"
          ><span>Ejemplo: tuemail@email.com</span></small
        >
      </div>
      <!-- TELEFONO -->
      <div class="col-12 col-lg-6 form form-floating">
        <input
          title="telefono"
          type="tel"
          name="telefono"
          id="telefono"
          v-model="telefono"
          required="required"
          maxlength="10"
          minlength="10"
          onKeyPress="if(this.value.length === 10) return false;"
          class="form-control bg-footer mb-2"
          placeholder="Teléfono"
        />
        <label for="telefono" class="text-center ps-3">Teléfono</label>
        <small style="display: none; color: red" class="telefonoReq"
          ><span>El campo telefono es requerido</span></small
        >
        <small style="display: none; color: #a82390" class="telefonoInc"
          ><span>Escribe tu número a 10 dígitos</span></small
        >
      </div>
      <input
        type="text"
        id="gclid_field"
        name="gclid_field"
        value=""
        style="height: 0px; border: none; visibility: hidden"
      />
    </div>
    <!-- CHECKBOX -->
    <div class="row">
      <div class="col-12">
        <privacidad />
      </div>
    </div>
    <!-- BOTON -->
    <div class="col-12 text-center py-2 mb-4">
      <button type="submit" class="btn b-cotizar" id="btnCotizarAuto">
        <strong
          >Cotiza gratis
          <svg class="proximo">
            <use xlink:href="#proximo" />
          </svg>
        </strong>
      </button>
    </div>
  </form>
</template>

<script>
import catalogosDirectos from "~/plugins/catalogosDirectos";
import axios from "axios";
import privacidad from "~/components/common/CheckboxPrivacidad.vue";
import getInsurerPromo from "~/plugins/promoData.js";
import telefonoService from "~/plugins/telefonoService.js";

const catalogoDirecto = new catalogosDirectos();
const tokenData = process.env.tokenData;

export default {
  props: {
    config: Object,
  },
  components: {
    privacidad,
  },
  data() {
    return {
      formData: {
        marcas: [],
        modelos: [],
        descripciones: [],
        subDescripciones: [],
        detalles: [],
        edades: [],
      },
      telefono: "",
      nombre: "",
      correo: "",
      accessToken: "",
      cp: "",
      formValido: 0,
      warning_req: [
        { id: "marcaReq" },
        { id: "modeloReq" },
        { id: "descripcionReq" },
        { id: "detalleReq" },
        { id: "edadReq" },
        { id: "generoReq" },
        { id: "cpReq" },
        { id: "nombreReq" },
        { id: "correoReq" },
        { id: "telefonoReq" },
      ],
    };
  },
  watch: {
    telefono: function () {
      //version2
      if (this.telefono.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.telefono.substring(
          this.telefono.length - 1,
          this.telefono.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //Buscara si inicia con 0 y lo quitara
          var regExp = /^0/;
          var phone = regExp.test(this.telefono);
          if (phone) {
            this.telefono = this.telefono.substring(1, this.telefono.length);
          }
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.telefono = this.repetirCaracter(4, this.telefono, null);
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){10}$/, this.telefono, "telefono");
          if (this.telefono.length == 10) {
            setTimeout(() => {
              this.myFocus("btnCotizarAuto");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.telefono = this.telefono.substring(0, this.telefono.length - 1);
        }
      } else {
        this.$store.state.formData.telefono = "";
        //Oculta advertencia INCORRECTO
        this.warningView("telefonoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("telefonoReq", "block");
      }
    },
    nombre: function () {
      //version2

      //Quita espacios del inicio
      this.nombre = this.myTrim_start(this.nombre);
      if (this.nombre.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.nombre.substring(
          this.nombre.length - 1,
          this.nombre.length
        );
        var result = this.checkCaracter(ultimoCaracter, "letra");
        if (result) {
          //El mismo caracter se puede repetir hasta 2 veces seguidas
          this.nombre = this.repetirCaracter(2, this.nombre, null);
          //valida nombre con expresion regular
          this.expresionRegularFinal(
            /^([a-zA-ZÀ-ÿ\u00f1\u00d1]+\s[a-zA-ZÀ-ÿ\u00f1\u00d1])*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/,
            this.nombre,
            "nombre"
          );
          // if(this.nombre.search(/[0-9]/g)!=-1){
          //   // console.log('si entra :)')
          //   this.formValido = 0;
          // }
        } else {
          //Guarda valor sin ultimo caracter que no es letra
          this.nombre = this.nombre.substring(0, this.nombre.length - 1);
        }
      } else {
        this.$store.state.formData.nombre = "";
        //Oculta advertencia INCORRECTO
        this.warningView("nombreInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("nombreReq", "block");
      }
    },
    correo: function () {
      //version2
      //Quita espacios del inicio y del final
      this.correo = this.correo.trim(); //no funciona en el campo tipo email
      if (this.correo.length > 0) {
        //un caracter al menos
        //El mismo caracter se puede repetir hasta 3 veces seguidas
        this.correo = this.repetirCaracter(3, this.correo, null);
        //valida correo con expresion regular
        this.expresionRegularFinal(
          /^[a-zA-Z0-9\.\-\_]{2,30}@[a-zA-Z0-9]{2,15}\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,2})?$/,
          this.correo,
          "correo"
        );
      } else {
        this.$store.state.formData.correo = "";
        //Oculta advertencia INCORRECTO
        this.warningView("correoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("correoReq", "block");
      }
    },
    cp: function () {
      //version2
      if (this.cp.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.cp.substring(
          this.cp.length - 1,
          this.cp.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.cp = this.repetirCaracter(4, this.cp, "33333");
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){5}$/, this.cp, "cp");
          if (this.cp.length == 5) {
            setTimeout(() => {
              this.myFocus("nombre");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.cp = this.cp.substring(0, this.cp.length - 1);
        }
      } else {
        this.$store.state.formData.cp = "";
        //Oculta advertencia INCORRECTO
        this.warningView("cpInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("cpReq", "block");
      }
    },
  },
  beforeCreate() {
    this.$store.commit("validarTokenCore");
  },
  async created() {
    this.$store.state.formData.utmSource = this.$route.query?.utm_source
      ? this.$route.query.utm_source
      : "No params detected";
    this.$store.state.formData.utmMedium = this.$route.query?.utm_medium
      ? this.$route.query.utm_medium
      : "No params detected";
    this.$store.state.formData.utmCampaign = this.$route.query?.utm_campaign
      ? this.$route.query.utm_campaign
      : "No params detected";
    this.$store.state.formData.utmId = this.$route.query?.utm_id
      ? this.$route.query.utm_id
      : "No params detected";

    if (!this.$store.state.config.loading) {
      this.$store.state.config.loading = true;
      if (typeof window !== "undefined") {
        window.location.reload();
      }
    }

    if (typeof window !== "undefined") {
      this.$store.state.formData.urlOrigen = window.location.href;
    }

    this.formData.marcas.length = 0;
    this.formData.modelos.length = 0;
    this.formData.descripciones.length = 0;
    this.formData.subDescripciones.length = 0;
    this.formData.detalles.length = 0;
    this.formData.edades.length = 0;
    this.$store.state.formData.aseguradora =
      this.$store.state.config.aseguradora;
    this.getMarcas();
    this.getEdades();
  },
  async mounted() {
    if (
      this.$store.state.sin_token === true ||
      this.$store.state.sin_token === "expirado"
    ) {
      try {
        const resp=await this.$store.dispatch("getToken")
        this.accessToken = resp.accessToken;        
      } catch (error) {
        var status = error.status
          ? error.status
          : error.response
          ? error.response.status
          : 500;
        var message = error.data
          ? JSON.stringify({
              error: error.data,
              peticion: { tokenData: tokenData },
            })
          : JSON.stringify({
              error: error,
              peticion: { tokenData: tokenData },
            });        
      }
    } else {
      this.accessToken = this.$store.state.config.accessToken;
    }

    try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
        console.log( telefono.data.telefono)
      }	
    } catch (error) {
      console.log(error);
    }

    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(this.$store.state.config.accessToken,
        this.$store.state.config.aseguradora
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "";
        this.$store.state.config.clase2 = "col-6 col-md-6 col-lg-5 offset-lg-1";
        this.$store.state.config.clase3 = "col-6 col-md-6 col-lg-5 offset-lg-1 my-auto";
        this.$store.state.config.colorPromo = "";
      }
    } catch (err) {
      console.log(err);
    }
  },
  methods: {

    getMarcas: function () {
      catalogoDirecto
        .marcas()
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.marcas = response.filter(item => item != null);
          } else {
            this.formData.marcas = response.data.filter(item => item != null);
          }
        })
        .catch((error) => {
          this.store.state.idEndPoint = 445;
          var data = {
            aseguradora: this.store.state.formData.aseguradora,
          };
        });
    },
    getModelos: function () {
      document.getElementById("modelo").focus();
      this.$store.state.formData.modelo = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.clave = "";
      this.formData.modelos.length = 0;
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.warningReq("marcaReq");
      catalogoDirecto
        .modelos(this.$store.state.formData.marca)
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.modelos = response;
          } else {
            this.formData.modelos = response.data;
          }
        })
        .catch((error) => {
          this.store.state.idEndPoint = 448;
          var data = {
            aseguradora: this.store.state.formData.aseguradora,
            marca: this.store.state.formData.marca,
          };
        });
    },
    getDescripciones: function () {
      document.getElementById("descripcion").focus();
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.clave = "";
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.warningReq("modeloReq");
      catalogoDirecto
        .submarcas(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo
        )
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.descripciones = response;
          } else {
            this.formData.descripciones = response.data;
          }
        })
        .catch((error) => {
          this.store.state.idEndPoint = 447;
          var data = {
            aseguradora: this.store.state.formData.aseguradora,
            marca: this.store.state.formData.marca,
            modelo: this.store.state.formData.modelo,
          };
        });
    },
    getSubDescripciones: function () {
      document.getElementById("detalle").focus();
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.clave = "";
      this.formData.subDescripciones.length = 0;

      axios.get("https://api.ipify.org?format=json").then((resp) => {
        if (typeof resp.data == "undefined") {
          this.$store.state.config.ipCliente = resp.ip;
        } else if (typeof resp.data.ip != "undefined") {
          this.$store.state.config.ipCliente = resp.data.ip;
        }
      });

      axios
        .get(
          `${process.env.promoCore}/v1/discount/QUALITAS?business=AS&service=PARTICULAR`
        )
        .then((resp) => {
          if (parseInt(resp.data.discount)) {
            this.$store.state.config.descuento = resp.data.discount;
          } else {
            this.$store.state.config.descuento = 0;
          }

          if (parseInt(resp.data.delay)) {
					this.$store.state.config.time = resp.data.delay
					} else {
					this.$store.state.config.time = 5000
					}

        })
        .catch((err) => {
          this.$store.state.config.descuento = 0;
          this.$store.state.config.time = 5000

        });

      this.warningReq("descripcionReq");
      catalogoDirecto
        .descripciones(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.$store.state.formData.descripcion
        )
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.subDescripciones = response;
          } else {
            this.formData.subDescripciones = response.data;
          }
        })
        .catch((error) => {
          this.store.state.idEndPoint = 449;
          var data = {
            aseguradora: this.store.state.formData.aseguradora,
            marca: this.store.state.formData.marca,
            modelo: this.store.state.formData.modelo,
            descripcion: this.store.state.formData.descripcion,
          };
        });
    },

    getEdades: function () {
      this.formData.edades = Array.from(Array(80).keys(), (n) => n + 17 + 1);
    },
    detalleSelected(evt) {
      var x = document.getElementById("detalle");
      var i = x.selectedIndex;
      if (this.$store.state.formData.clave != "") {
        this.$store.state.formData.detalle = x.options[i].text;
      } else {
        this.$store.state.formData.detalle = "";
      }
      // this.myFocus("edad");
      this.warningReq("detalleReq");
    },
    validateBeforeSubmit() {
      // debugger
      this.formValido = 1;
      for (var w in this.warning_req) {
        //w=indices
        this.warningReq(this.warning_req[w].id);
      }
      if (this.formValido) {
        this.$store.state.config.loading = true;
        document.getElementById("btnCotizarAuto").disabled = true;
        $nuxt._router.push({ path: this.$store.state.config.urlRedireccion });
      } else {
        document.getElementById("btnCotizarAuto").disabled = false;
      }
    },
    myFocus: function (id) {
      setTimeout(alertFunc, 500);
      function alertFunc() {
        if (typeof document != "undefined") {
          var e = document.getElementById(id);
          if (e) {
            e.focus();
          }
        }
      }
    },
    calculaFechaNacimiento() {
      this.$store.state.formData.fechaNacimiento = (
        "01/01/" +
        (new Date().getFullYear() - this.$store.state.formData.edad).toString()
      ).toString("dd/MM/yyyy");
    },
    expresionRegularCP: function () {
      this.warningReq("cpReq");
      this.warningInc("cpInc", "none");
      //valida solo numeros
      var regExp = /^(\d){5}$/; //espera 5 numeros
      var cod = regExp.exec(this.cp);
      if (cod) {
        this.$store.state.formData.cp = this.cp;
      } else {
        if (this.cp != "") {
          //No mostrar incorrecto cuando borre numeros hasta dejar el campo vacio
          this.warningInc("cpInc", "block");
        }
      }
    },
    warningReq: function (idWarning) {
      var id = idWarning.substring(0, idWarning.length - 3);
      var elemento = document.getElementById(id);
      if (elemento) {
        //ocultar warningReq
        var req = document.getElementsByClassName(idWarning);
        if (typeof req[0] != "undefined") {
          req[0].style.display = "none";
        }
        if (
          (id == "cp" && this.$store.state.formData.cp == "") ||
          this.cp.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          (id == "nombre" && this.$store.state.formData.nombre == "") ||
          this.nombre.search(/[0-9]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (id == "correo" && this.$store.state.formData.correo == "") {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          (id == "telefono" && this.$store.state.formData.telefono == "") ||
          this.telefono.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          elemento.value == "" &&
          (idWarning == "marcaReq" ||
            idWarning == "modeloReq" ||
            idWarning == "descripcionReq" ||
            idWarning == "detalleReq" ||
            idWarning == "edadReq" ||
            idWarning == "generoReq")
        ) {
          this.warningView(idWarning, "block");
          this.formValido = 0;
        } else {
        }
      } else {
      }
    }, //FIN warningReq
    warningView: function (id, view) {
      var req = document.getElementsByClassName(id);
      if (typeof req[0] != "undefined") {
        req[0].style.display = view;
      }
    }, //FIN warningView
    myTrim_start: function (x) {
      //return x.replace(/^\s+|\s+$/gm,'');//Funcionamiento original de trim();
      return x.replace(/^\s+/, "");
    }, //FIN myTrim
    checkCaracter: function (caracter, tipo) {
      var regExp = "";
      if (tipo == "numero") {
        regExp = /[0-9]/;
      } else {
        regExp = /[A-Za-z\sñÑáéíóúÁÉÍÓÚ\s\t]/;
      }
      //regresa true si el caracter es valido
      return regExp.test(caracter);
    },
    repetirCaracter: function (veces, valor, excepcion) {
      let regExp = new RegExp(`(.)\\1{${veces}}`);
      var result = regExp.exec(valor);
      if (result && valor != excepcion) {
        var inicio = valor.substring(0, result.index);
        var final = valor.substring(result.index + 1, valor.length);
        return inicio + final;
      } else {
        return valor;
      }
    },
    expresionRegularFinal: function (regExp, valor, campo) {
      var result = regExp.exec(valor);
      if (result) {
        this.$store.state.formData[campo] = valor.trim();
        //Oculta advertencia INCORRECTO
        this.warningView(campo + "Inc", "none");
        this.warningReq(campo + "Req");
      } else {
        this.$store.state.formData[campo] = "";
        //Oculta advertencia REQUERIDO
        this.warningReq(campo + "Req");
        //Muestra advertecia INCORRECTO
        this.warningView(campo + "Inc", "block");
      }
    },

    space: function (valor) {
      // debugger
      let cadena = this[valor];
      let primero = cadena.search("@");
      let separado;
      let cad2 = "";
      // se le quita el ultimo
      if ([valor] == "correo") {
        if (primero) {
          separado = cadena.substring(primero + 1, cadena.length).split("@");
          separado.forEach((element) => {
            cad2 += element.replaceAll("@", "");
          });
        }
        cadena = cadena.substring(0, primero + 1) + cad2;
        cadena = cadena.split(" ").join(" ").trim();
        // elimina todos los espacios encontrados
        cadena = cadena.replace(/\s+/g, "");
      } else {
        // se le quita el ultimo espacio
        cadena = cadena.split(" ").join(" ").trim();
      }
      this[valor] = cadena;
    },
  },
};
</script>
